

body {
    min-height: 95vh;
}

.left-panel {
    width: 50%;
    height: 97vh;
    background-color: #e6f7ff; /* пастельный голубой */
    border-radius: 30px 30px 30px 30px;
    border: 3px solid #b3d9ff; /* контур темнее фона */
}
.right-panel {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 97vh;
    background-color: #e6f7ff; /* пастельный голубой */
    border-radius: 30px 30px 30px 30px;
    border: 3px solid #b3d9ff; /* контур темнее фона */
}
.labeled-slider {
    width: 400px;
    margin: 50px auto;
    position: relative;
}

#step-slider {
    width: 100%;
    height: 6px;
    margin: 30px 0;
}

.range {
  --range-track-top: 70px;
  --range-output-left: calc(var(--value) * 1%);
  --range-output-offset-xy: calc(var(--value) * -1%), 0;
}

.range-label {
  margin-block-end: 40px;
}

.track {
  position: absolute;
  top: var(--range-track-top);
}

.progress {
  position: absolute;
  top: var(--range-track-top);
  width: calc(var(--value) * 1%);
}
.range-output {
  position: absolute;
  bottom: 40px;
  left: var(--range-output-left);
  padding: 0 4px;
  background: transparent;
  border-radius: 10px;
  font-size: 18px;
  text-align: end;
  transform: translate(var(--range-output-offset-xy));
  user-select: none;
  transition: 300ms;
}
